#colorBox {
  width: 15%;
  margin-left: 2%;
  margin-bottom: 2%;
}
#colorBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.light {
  background-color: #ffca5a;
  border: 2px solid black;
  border-radius: 5px;
}

.pale {
  background-color: #ea8f00;
  border: 2px solid black;
  border-radius: 5px;
}
.amber {
  background-color: #cb6200;
  border: 2px solid black;
  border-radius: 5px;
}
.red{
  background-color: #a63e00;
  border: 2px solid black;
  border-radius: 5px;
}
.darkred {
  background-color: #882300;
  border: 2px solid black;
  border-radius: 5px;
}

.brown {
  background-color: #6a0e00;
  border: 2px solid black;
  border-radius: 5px;
}

.darkbrown {
  background-color: #520907;
  border: 2px solid black;
  border-radius: 5px;
}

.black {
  background-color: #360607;
  border: 2px solid black;
  border-radius: 5px;
}

.darkblack {
  background-color: #160607;
  border: 2px solid black;
  border-radius: 5px;
}
li {
  margin-left: 25px;
  color: black;
}
h4 {
  color: #000105;
}
#beerImg {
  width: 30%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  float: right;
}
#beerImg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  float: right;
}
.lightBeer {
  background-image: url("../img/pilsner.jpg");
  border: 2px solid black;
  border-radius: 5px;
}

.paleBeer {
  background-image: url("../img/paleale2.jpg");
  border: 2px solid black;
  border-radius: 5px;
}
.amberBeer {
  background-image: url("../img/amber.jpg");
  border: 2px solid black;
  border-radius: 5px;
}
.redBeer {
  background-image: url("../img/red.jpg");
  border: 2px solid black;
  border-radius: 5px;
}
.darkredBeer {
  background-image: url("../img/brownbeer.jpg");
  border: 2px solid black;
  border-radius: 5px;
}

.brownBeer {
  background-image: url("../img/darkbrownbeer.jpg");
  border: 2px solid black;
  border-radius: 5px;
}

.darkbrownBeer {
  background-image: url("../img/doubledarkbrown.jpg");
  border: 2px solid black;
  border-radius: 5px;
}

.blackBeer {
  background-image: url("../img/stout.jpg");
  border: 2px solid black;
  border-radius: 5px;
}

.darkblackBeer {
  background-image: url("../img/stout1.jpg");
  border: 2px solid black;
  border-radius: 5px;
}
