* {
  padding: 0;
  margin: 0;
  height: auto;
 }
body {
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #000105;
  background-image: url("../img/laurel.png");
  background-size: 100% 100%;
}
.wrapper {
  margin: auto;
  width: 85%;
}
.container {
  margin-bottom: 5px;
  width:auto;
}
h1 {
  display:inline-block;
  background-color: #000105;
  color: #a6d35d;
  padding: .25% 4% .25% 1%;
  font-size: 3em;
}
.header {
  width: 100%;
  padding: 10px;
  height: 100px;
  margin: 10px 0px 5px 0px;
  background-image:url("../img/wet_hops.jpg");
  background-size: cover;
}
.navigation {
  width: 101.67%;
  display: flex;
  justify-content: space-around;
  background-color: #d7c7ad;
  color: #333333;
  padding-top: .35%;
  padding-bottom: .35%;
  margin: 0px 0px 5px 0px;
}
a{
  padding: 1.5px 2px 1.5px 3px;
}
button {
  font-size: 18px;
  border: 1.5px solid #000105;
  background-color: #3a3a3a;
  border-radius: 6px;
  color: #f7ffea;
  padding: 1.5px 2px 1.5px 3px;
  cursor:pointer;
}

button:active {
  background-color: #000105;
}
#chooseHopSubmit {
  font-size:12px;
}
#submitNewHop {
  font-size:12px;
}
#hopButton{
  font-size: 12px;
}
#findProfile{
  font-size: 12px;
}
#submitBeer{
  font-size:12px;
}
.midBox{
  display: flex;
  justify-content: space-around;
}
.leftcolumn {
  color: #333333;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2.5%;
  padding:0;
  width: 23.5%;
  background-color: #d7c7ad;
  border: solid 1px #a6d35d;
  opacity: .95;
}
h3 {
  color: #000105;
  background-color: #a6d35d;
  border-bottom: 1px solid #000105;
  padding-left: 2%;
  font-size: 18px;
  padding-top: 2%;
  margin-bottom: 2%;
}
h4 {
  color: #000105;
}
li {
  color: #000105;
}
.leftText {
  padding: 2%;

}
fieldset {
  border: 2px solid #000105;
  border-radius: 3px;
  margin: 1% 1% .25% 1%;
  line-height: 20px;
  color: #0d0d0e;
  padding: 1%;
  font-weight: bold;
}
legend {
  font-weight: bold;
  font-size: 16px;
}
select {
  border: 1.5px solid #000105;
}
.rightcolumn {
  margin: 1% 0% 1% 0%;
  color: #333333;
  padding:0;
  width: 71.5%;
  position: relative;
  background-color: #a6d35d;
  opacity: .95;
}
h2 {
  margin-top: .25%;
  display:inline-block;
  background-color: #000105;
  color: #a6d35d;
  padding: .25% 4% .25% 1%;
}
.rightText {
  padding: 1%;
}
.rightP {
  margin:8px 0;
}
.rightUL {
  margin:0 0 15px 0;
  padding:0;
  list-style-type:none;
}
.rightLI {
  margin-right:15px;
  display:inline;
}
.footer {
  background-color: #d7c7ad;
  width: 100%;
  clear: both;
  color: #333333;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}
.clear {
  clear: both;
  background: none;
 }
 .reference {
   margin: 0% 0% 0% 3%;
   color: #000105;
 }
 .links {
   display: flex;
   justify-content:space-around;
   float: right;
   margin-right: 39%;
 }
 .copy {
   display: inline-block;
   font-size: 21px;
 }
