* {
  padding: 0;
  margin: 0;
  height: auto;
 }
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;;
  align-content: stretch;
  font-family: 'Electrolize', Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  background-color: #000105;
  background-image: url("../img/laurel.png");
  background-size: 100% 100%;
}

.container {
  display: flex;
  justify-content: space-around;
}

h1 {
  background-color: #000105;
  color: #a6d35d;
  font-size: 3.25vw;
}

header {
  display: flex;
  align-items: center;
  margin: 5% 0 2% 0;
}

nav {
  width: 86%;
  margin: 0 0 0.5% 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #333333;
}

nav a {
  font-size: 2vw;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 5px;
  border: 1px solid #a6d35d;
  background-color: #3a3a3a;
  color: #f7ffea;
}

nav a:hover {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 20%;
  border: 1px solid #000105;
  background-color: #a6d35d;
  color: #3a3a3a;
}

footer {
  width: 90%;
  height: 8%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-around;
  color: #f7ffea;
}

footer a {
  color: #f7ffea;
  font-size: 1.25vw;
}

footer a:hover {
  font-size: 1.25vw;
  text-shadow: 1px 1px #a6d35d;
  color: #f7ffea;
}

.copy {
  font-size: 2vw;
}

.leftcolumn {
  width: 25%;
  color: #333333;
  align-self: stretch;
  background-color: #d7c7ad;
  opacity: .95;
  font-size: 2vh;
  margin: 0 1% 0 0;
}

.rightcolumn {
  width: 55%;
  color: #333333;
  align-self: stretch;
  background-color: #a6d35d;
  opacity: .95;
  margin: 0 0 0 1%;
}

h3 {
  color: #000105;
  background-color: #a6d35d;
  border-bottom: 1px solid #000105;
  padding-left: 2%;
  font-size: 1.75vw;
  padding-top: 2%;
  margin-bottom: 2%;
}

h4 {
  color: #000105;
}

li {
  margin: 0 0 0 5%;;
  color: #000105;
  font-size: 1.25vw;
}

form {
  display: block;
}

fieldset {
  border: 2px solid #000105;
  border-radius: 3px;
  margin: 1% 1% 1% 1%;
  line-height: 110%;
  color: #0d0d0e;
  padding: 1%;
  font-weight: bold;
  font-size: 2.5vh;
}

legend {
  font-weight: bold;
  font-size: 1.5vw;
}

select {
  max-width: 90%;
  border: 1.5px solid #000105;
  font-size: 2vh;
}

input {
  max-width: 90%;
  border: 1.5px solid #000105;
  font-size: 2.5vh;
}

h2 {
  margin-top: .25%;
  display:inline-block;
  background-color: #000105;
  color: #a6d35d;
  padding: .25% 4% .25% 1%;
}

button {
 font-size: 2vh;
 border-radius: 3px;
 padding: 2px;
 color: #a6d35d;
 background-color: #333333;
 border: 1px solid #000105;
}

#descriptionContent, #compareContent, #recipeSection {
  height: 60%;
}
